*{
  box-sizing: border-box;
}

body {
  background-color: #0E0606;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header, .ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h4, strong, em {
  color: #BEAE8D;
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 1em;
}

ul, ol {
  margin: 1em;
  padding: 0;
}

ul {
  list-style: circle;
}

li, p {
  color: #B18253;
}

a, a:visited {
  margin: .75rem;
  color: #9B5B19;
  text-decoration: none;
}

a:hover {
  color: #BEAE8D;
}

iframe {
  border-radius: .5em;
}