*{
  box-sizing: border-box;
}

body {
  background-color: #3C1301
}

h1, h4 {
  color: #C0A793
}

img {
  max-width: 300px;
  max-height: 300px;
}

li, p {
  color: #CA9970
}

strong, em {
  color: #EBD37B
}

a, a:visited {
  color: #C0A793
}

a:hover {
  color: #CA9970
}