*{
  box-sizing: border-box;
}

body {
  background-color: #4a2e10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h4, strong, em {
  color: #efe255;
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 1em;
}

p {
  color: #AD8315;
  padding: 1rem
}

a, a:visited {
  margin: .75rem;
  color: #9B5B19;
  text-decoration: none;
}

a:hover {
  color: #BEAE8D;
}

iframe {
  border-radius: .5em;
}