*{
  box-sizing: border-box;
}

body {
  background-color: #150D07
}

h1, h4 {
  color: #9B5B19
}

img {
  max-width: 90%;
  height: auto
}

li, p {
  color: #CDB382
}
strong, em {
  color: #9B5B19
}

a, a:visited {
  color: #9B5B19
}

a:hover {
  color: #BEAE8D
}