*{
  box-sizing: border-box;
}

body {
  background-color: #150D07;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h4 {
  color: #9B5B19
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 1em;  
  margin-top: .5em;
  margin-bottom: .75em;
}

ul {
  margin: 1em;
  list-style: circle;
  padding: 0;
}

ol {
  margin: 1em;
  padding: 0;
}

li, p {
  color: #CDB382
}

strong, em {
  color: #E2E1D7
}

a, a:visited {
  color: #9B5B19;
  text-decoration: none;
  margin: .75em;
}

a:hover {
  color: #BEAE8D
}