*{
  box-sizing: border-box;
}

body {
  background-color: #322417
}

h1 {
  color: #C0A793
}

img {
  max-width: 90%;
  height: auto
}

a, a:visited {
  color: #9B5B19
}

a:hover {
  color: #BEAE8D
}