*{
  box-sizing: border-box;
}

body {
  background-color: #322417;
  color: #A96E3B;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #A96E3B;
  display: flex;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #C0A793
} 

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 1em;
}

a, a:visited {
  color: #9B5B19;
  text-decoration: none;
}

a:hover {
  color: #BEAE8D
}